{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-2 col-sm-offset-10 typesetting">
        <ul>
            <li><a href="#normal" class="type-click" aria-controls="task" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-large type-click"></span></a></li>
            <li><a href="#other" aria-controls="task" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        </div>

    </div>
    <div  class="tab-content"  style="margin-top: 20px">
        <div class="tab-pane active "   role="tabpanel" id="normal">
        <div class="row ">
        <div class="col-sm-2 my-project">我拥有的项目</div><hr>
        {% for project in owner_project %}
            <a  data-id="{{ project.pid }}" href="/get_project_task/{{ project.pid }}" class="all-project" style="background-image: url('{{ project.logo }}');">
                <div style="margin-top: 10px; margin-left: 10px">
                    <p style="font-size: 20px;" class="text-hidden"><span style="font-weight: bold">{{ project.name }}</span></p>
                    <p style="font-size: 16px;" class="text-hidden">{{ project.intro }}　</p>
                </div>
            </a>
        {% endfor %}
        <a href="###" class="create-project" data-toggle="modal" data-target="#myModal">
            <div style="margin-top: 10px; margin-left: 10px" class=" pr">
                <span class="glyphicon glyphicon-plus ">
                </span>
                <p style="font-size: 15px">创建项目</p>
            </div>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document" style="width: 400px;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">创建项目</h4>
              </div>
              <div class="modal-body">
                  <form>
                      <div>
                          <div style="margin: 0 auto; width: 100px;">
                          <img src="/static/images/create_project.jpg" style=" width: 100%;" alt="create_project">
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="inputProjectName">项目名</label>
                        <input type="text" class="form-control" id="inputProjectName" placeholder="项目名">
                      </div>
                      <div class="form-group">
                        <label for="inputProjectIntro">项目简介</label>
                        <input type="text" class="form-control" id="inputProjectIntro" placeholder="项目简介">
                      </div>
                      <div class="form-group">
                          <label for="participant-project">项目参与者</label>
                          <select  class="form-control" style="width: 100%;" multiple="multiple"  id="participant-project">
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="f">上传项目封面<span style="font-size: 12px; color: #666;">（建议大小280*150）</span></label>
                          <div id="input-file">
                            <input id="f" type="file" name="f">
                            <div class="upload">上传图片</div>

                            <p>
                                <img id="preview" alt="" name="pic"  style="width: 200px; margin-top: 20px">
                            </p>
                           </div>
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-project">取消</button>
                <button type="button" class="btn btn-primary" id="create-project-btn">创建</button>
              </div>
            </div>
          </div>
        </div>
    </div>
        <div class="row" style="margin-top: 50px; margin-bottom: 200px">
        <div class="col-sm-2 my-project">我参与的项目</div><hr>
        {% for project in part_project %}
            <a data-id="{{ project.pid }}" href="/get_project_task/{{ project.pid }}" class="all-project" style="background-image: url('{{ project.logo }}');">
            <div style="margin-top: 10px; margin-left: 10px">
                <p style="font-size: 20px;" class="text-hidden"><span style="font-weight: bold">{{ project.name }}</span></p>
                    <p style="font-size: 16px;" class="text-hidden">{{ project.intro }}　</p>
            </div>
        </a>
        {% endfor %}
    </div>
        </div>
        <div class="tab-pane"   role="tabpanel" id="other">
            <div class="row ">
            <div class="col-sm-2 my-project">我拥有的项目</div><hr>
            {% for project in owner_project %}
                <div class="every-project col-sm-10 col-sm-offset-1 bgw">
                <span class="fl mr50">{{ project.name }}</span>
                <span class="fl text-hidden task-intro"> {{ project.intro }}</span>
                <span class="fr ml10">
                    <span class=" glyphicon glyphicon-remove"></span>
                </span>
                <span class="mr50 fr">
                <span class="fr ml10">
                    <img src="{{ request.session.avatar }}" class="img-task" alt="user">
                </span>
                </span>
            </div>
            {% endfor %}
            </div>
            <div class="row" style="margin-top: 50px; margin-bottom: 200px">
            <div class="col-sm-2 my-project">我参与的项目</div><hr>
                {% for project in part_project %}
                <div class="every-project col-sm-10 col-sm-offset-1 bgw">
                    <span class="fl mr50">{{ project.name }}</span>
                    <span class="fl text-hidden task-intro"> {{ project.intro }}</span>
                    <span class="fr ml10">
                        <span class=" glyphicon glyphicon-remove"></span>
                    </span>
                    <span class="mr50 fr">
                    <span class="fr ml10">
                        <img src="{{ request.session.avatar }}" class="img-task" alt="user">
                    </span>
                    </span>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}